@use "variables" as v;

footer{
    ul{
        display: flex;
        justify-content: center;
        list-style: none;
        gap: 20px;
        margin: 20px;
        li{
            a{
                img{
                    max-width: 50px;
                    width: 100%;
                }
            }
        } 
    }
} 