@use "variables" as v;

.navs {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: v.$fondoprimario;
  color: v.$colorprimario;

  img {
    max-width: 120px;
    width: 100%;
  }

  ul {
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: 1.5rem;

    li {
      a {
        text-decoration: none;     
        color: v.$colorprimario;
        font-weight: bold;
        padding: 10px;
        &:hover {
          color: v.$colorbotonterciario;
          outline: 2px solid v.$colorbotonterciario;
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 430px) {
  .navs{display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -10px;
    img{max-width: 120px;
      width: 100%;
    }
    ul{
      display: flex;
      justify-content: center;
      padding: 0;
      li{
        a{font-size: 0.9rem;
        }
      }
    }
  }
}